<style>
    nav {
        padding: 20px;
        background-color: black;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    a {
        color: white;
        text-decoration: none;
        background-color: darkcyan;
        padding: 5px;
    }
</style>

<nav>
    <h1>Logo</h1>
    <div>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </div>
</nav>